.jsc-board {
    background-color: black;
}

.jsc-row {
    display: block;
}

.jsc-square {
    float: left;
    position: relative;
}

.jsc-black {
    background-color: peru;
    color: navajowhite;
}

.jsc-white {
    background-color: navajowhite;
    color: peru;
}

.jsc-notation {
    position: absolute;
}

.jsc-notation-row {
    top: 3px;
    left: 3px;
}

.jsc-notation-col {
    bottom: 3px;
    right: 3px;
}

